.big-card {
    width: 100%;
    height: 100%;
}

.wrapper {
    max-width: 1480px;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.top-card-light, .top-card-dark {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 520px;
    margin-top: 50px;
    border-radius: 6px;
}

.top-card-light {
    box-shadow: 0 0 0 2px #e0e3eb;
}

.top-card-dark {
    box-shadow: 0 0 0 2px #8b91a3;
}

.time-frames-light, .time-frames-dark {
    border-radius: 6px;
}

.time-frames-light {
    box-shadow: 0 0 0 2px #e0e3eb;
}

.time-frames-dark {
    box-shadow: 0 0 0 2px #8b91a3;
}

.low-card {
    margin: 20px 0;
    width: 100%;
    /* height: 100%; */
    /* height: 380px; */
    height: 480px;
    display: flex;
    justify-content: space-between;
}

.left-block {
    display: flex;
    flex-direction: column;
    height: 100%;
    /* width: 49.5%; */
    width: 35.5%;
}

.right-block-light, .right-block-dark {
    height: 100%;
    font-size: 1.1em;
    /* width: 49.5%; */
    width: 63.5%;
    border-radius: 6px;
    padding: 15px;
}

.right-block-light {
    box-shadow: 0 0 0 2px #e0e3eb;
}

.right-block-dark {
    box-shadow: 0 0 0 2px #8b91a3;
}

.info-light, .info-dark {
    font-size: 1.1em;
    border-radius: 6px;
    margin-top: 20px;
    height: 450px;
    padding: 15px;
}

.info-light {
    color: black;
    box-shadow: 0 0 0 2px #e0e3eb;
}

.info-dark {
    color: #d1d4dc;
    box-shadow: 0 0 0 2px #8b91a3;
}

.info-row {
    margin: 10px 0;
}

.description-row {
    line-height: 1.5em;
    /* font-size: 1.1em; */
}

.link a, .link-dark a {
    display: inline;
    padding: 2px;
    border-radius: 5px;
    text-decoration: none;
    color: #128fdd;
}

.link a {
    background-color: #eff2f5;
}

.link-dark a {
    background-color: #141d32;
}
.link a:hover {
    background-color: #e0e4e7;
    transition: .5s;
}
.link-dark a:hover {
    background-color: #273452;
    transition: .5s;
}
/* .info-row a:hover {
    background-color: #e0e4e7;
    transition: .5s;
} */

/* #141d32 */

.info-row svg {
    margin: 0 5px;
}

.description-light {
    color: black;
}

.description-dark {
    color: #d1d4dc;
}