.chart-light, .chart-dark {
    height: 142px;
    width: 100%;
    text-align: center;
    /* margin-top: 30px; */
}

.chart-light {
    background-color: white;
}

.chart-dark {
    /* background-color: #1e1e30; */
    background-color: #1e1e30;
}

.preloader {
    /* margin-top: 30px; */
}