.chart-light, .chart-dark {
    height: 142px;
    width: 100%;
    text-align: center;
    /* margin-top: 30px; */
    position: relative;
}

.chart-light {
    background-color: white;
}

.chart-dark {
    /* background-color: #1e1e30; */
    background-color: #1e1e30;
}

.preloader {
    margin: 0 auto;
    width: 20%;
    left: 0;
    right: 0;
    top: 50%;
    transform: translate(0, -50%);
    position: absolute;
}