.MuiAlert-icon {
    display: flex;
    align-items: center;
    opacity: 0.9;
    padding: 7px 0;
    font-size: 22px;
    margin-right: 12px;
}

.MuiAlert-action {
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: -8px;
    padding-left: 16px;
}

.MuiSnackbar-root {
    position: unset !important;
    justify-content: unset !important;
    /* align-items:unset !important; */
    top: 0%!important;
    position: absolute!important;
}

.MuiSnackbar-root.MuiSnackbar-anchorOriginBottomCenter {
    left: 2% !important;
    top: 5%!important;
    transform: translateX(0%)!important;
    right: unset!important;
    margin-left: 5%;
    bottom: unset!important;
}

@media (max-width: 1400px) {
    .MuiSnackbar-root {
        display: flex!important;
        z-index: 1400!important;
        position: fixed!important;
        /* align-items: center!important;
        justify-content: center!important; */
    }
    .MuiSnackbar-root.MuiSnackbar-anchorOriginBottomCenter {
        left: 50%!important;
        right: auto!important;
        bottom: 24px!important;
        transform: translateX(-50%)!important;
        margin-left: unset;
        top: unset!important;
    }
}

@media (max-width: 654px) {
    .MuiSnackbar-root {
        text-align: center;
        /* width: calc(100% - 5px); */
    }
    .MuiAlert-root {
        line-height: 1!important;
    }
    .MuiSnackbar-root .MuiSnackbar-anchorOriginBottomCenter {
        /* width: calc(100% - 5px); */
        height: 50px;
    }
}

@media (max-width: 485px) {
    .MuiSnackbar-root {
        width: 300px;
        /* width: calc(100% - 5px); */
    }
}

@media (max-width: 325px) {
    .MuiSnackbar-root {
        width: 200px;
        padding: 0px 0px;
    }
    .MuiAlert-root {
        font-size: 0.675rem;
    }
    .MuiAlert-message {
        width: 150px;
    }
    .MuiAlert-action {
        margin-right: -8px;
        padding-left: 2px!important;
    }
    .MuiAlert-icon {
        padding: 2px 0!important;
        margin-right: -5px;
        margin-right: 2px!important;
    }
    .MuiSnackbar-root.MuiSnackbar-anchorOriginBottomCenter {
        transform: translateX(-56%)!important;
    }
}