.time {
    font-size: 1em;
    height: 30px;
    background-color: inherit;
    /* border: 1px solid black; */
    margin-top: 10px;
    display: flex;
}

.time ul {
    display: flex;
    list-style-type: none;
    padding-left: 40px;
}

.time li {
    margin: 0 4px;
    cursor: pointer;
    width: 30px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* padding-top: 3px; */
}

.time-light.active {
    background-color: rgba(216, 240, 250, 1);
}

.time-dark.active {
    /* background-color: rgb(0, 143, 255, .6); */
    background-color: rgb(62 121 167 / 60%);
}

.time-light:hover {
    background-color: rgba(216, 240, 250, .5);
}

.time-dark:hover {
    /* background-color: rgb(0, 143, 255, .4); */
    background-color: rgb(62 121 167 / 60%);
}

.date-light {
    color: black;
}

.date-dark {
    color: #d1d4dc;
}

@media (max-width: 300px) {
    .time ul {
        padding-left: 20px;
    }
}