.card-light, .card-dark {
    width: 480px;
    height: 700px;
    /* height: 720px; */
    margin: 0 10px;
    border-radius: 6px;
    /* position: relative; */
}

.card-light {
    box-shadow: 0 0 0 2px #e0e3eb;
    background-color: white;
    color: black;
}

.card-dark {
    background-color: #1e1e30!important;
    color: #d1d4dc;
}

.wrap {
    padding: 15px;
}

.title-light, .title-dark {
    font-size: 1.5em;
    font-weight: 600;
}

/* .title-dark {
    color: #d1d4dc;
}

.title-light {
    color: black;
} */

.rows {
    margin: 10px 0;
}

.big {
    display: none;
}

.wrap-widget {
    display: flex;
    margin-top: 20px;
}

.widget-light, .widget-dark {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 7px;
    border-radius: 5px;
    /* position: absolute; */
    left: 0;
    font-size: 1.1em;
    text-decoration: none;
}

.widget-light {
    color: #1976d2;
    /* color: #2c9cf5; */
}

.widget-dark {
    color: #1976d2;
    /* color: #2c9cf5; */
}

.widget-light:hover {
    background-color: rgba(216, 240, 250, 1);
    transition: .5s;
}

.widget-dark:hover {
    background-color: #1c2742d6;
    transition: .5s;
}

.widget-light svg, .widget-dark svg {
    width: 20px;
    margin-top: 4px;
}