.markets {
  max-width: 1590px;
  height: 100%;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  flex-wrap: wrap;
}

@media (max-width: 1589px) {
  .markets {
    justify-content: flex-start;
    margin: 0 auto;
    max-width: 1020px;
  }
}
@media (max-width: 1089px) {
  .markets {
    justify-content: flex-start;
    margin: 0 auto;
    max-width: 570px;
  }
}