.markets {
  max-width: 1590px;
  /* max-width: 1480px; */
  height: 100%;
  display: flex;
  justify-content: center;
  /* flex-direction: column; */
  margin: 0 auto;
  flex-wrap: wrap;
  /* padding-left: 90px; */
}

