.navbar-light, .navbar-dark {
    width: 90px;
    height: 100%;
    position: fixed;
    /* margin-right: 5px; */
}

.navbar-light {
    background-color: #f6f6f7;
}

.navbar-dark {
    background-color: #1e1e30!important;
}

.navbar-wraper {
    position: relative;
    /* margin-top: 100px; */
    top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.logo {
    /* position: absolute; */
    margin-top: 20px;
}

.logo span {
    color: rgb(76, 117, 242);
}

.logo a {
    text-decoration: none;
    color: rgb(189, 189, 189);
    font-weight: 500;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.navbar-wrap {
    position: relative;
    margin: 15px;
    display: flex;
}

.name {
    color: #6c757d;
    font-size: 23px;
    display: none;
}

.popup {
    position: absolute;
    visibility: hidden;
    border-radius: 3px;
    left: 45px;
    padding: 10px;
    background-color: black;
    color: white;
    font-size: .9em;
    white-space: pre;
}

.popup::before {
    content: '';
    position: absolute;
    width: 12px;
    height: 12px;
    background-color: black;
    left: -4px;
    top: 14px;
    transform: rotate(45deg);
    border-radius: 1px;
}

.navbar-wrap:hover .popup {
    visibility: visible;
    transition-delay: .5s;
}

.navbar-wraper svg {
    cursor: pointer;
    height: 30px;
    width: 30px;
}

.navbar-wrap .active svg {
    stroke: rgb(76, 117, 242);
}

.navbar-wrap .active .chart {
    fill: rgb(76, 117, 242);
}

.navbar-wrap svg:hover {
    stroke: rgb(76, 117, 242);
    /* fill: rgb(76, 117, 242); */
    transition: .5s;
}

.navbar-wrap .chart:hover {
    fill: rgb(76, 117, 242);
    transition: .5s;
}

.navbar-light-b, .navbar-dark-b {
    width: 100%;
    height: 100vh;
    z-index: 9;
    position: fixed;
    background-color: #f6f6f7;
    /* overflow: hidden; */
}

@media (max-width: 767px) {
    .logo {
        display: none;
    }
    .navbar-dark-b {
        background-color: #1e1e30!important;
    }
    .popup {
        display: none;
    }
    .navbar-wrap {
        margin: 0;
        width: 100%;
    }
    .navbar-wrap a, .nothing {
        display: flex;
        /* justify-content: center; */
        padding: 1.5rem;
        padding-left: 40vw;
        border-top: 2px solid rgba(108, 117, 125, .06274509803921569);
        width: 100%;
    }
    .navbar-wrap svg {
        margin-right: 30px;
        margin-top: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .navbar-wrap:nth-child(2) svg {
        margin-top: 8px;
    }
    .name {
        display: inline;
        padding: 5px 10px 10px 10px;
        /* padding: 5px; */
    }
    .navbar-wraper:last-child {
        border-bottom: 2px solid rgba(108, 117, 125, .06274509803921569);
    }
    .navbar-wraper {
        top: 0;
    }
    .navbar-wrap .active .name {
        color: #557cf2;
        background-color: #eceef6;
        border-radius: 6px;
    }
    .navbar-dark-b .navbar-wrap .active .name {
        background-color: #2a2d5a;
        /* background-color: #21233c; */
    }
}

@media (max-width: 570px) {
    .navbar-wrap a, .nothing {
        padding-left: 30vw;
    }
}

@media (max-width: 420px) {
    .navbar-wrap a, .nothing {
        padding-left: 25vw;
    }
}

@media (max-width: 360px) {
    .navbar-wrap a, .nothing {
        padding-left: 20vw;
    }
}

@media (max-width: 310px) {
    .navbar-wrap a, .nothing {
        padding-left: 12vw;
    }
}