.navbar-light, .navbar-dark {
    width: 90px;
    height: 100%;
    position: fixed;
}

.navbar-light {
    background-color: #f6f6f7;
}

.navbar-dark {
    background-color: #1e1e30!important;
}

.navbar-wraper {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.navbar-wrap {
    position: relative;
    margin: 15px;
    display: flex;
}

.popup {
    position: absolute;
    visibility: hidden;
    border-radius: 3px;
    left: 45px;
    padding: 10px;
    background-color: black;
    color: white;
    font-size: .9em;
    white-space: pre;
 
}

.popup::before {
    content: '';
    position: absolute;
    width: 12px;
    height: 12px;
    background-color: black;
  
    left: -4px;
    top: 14px;
    transform: rotate(45deg);
    border-radius: 1px;
   
}

.navbar-wrap:hover .popup {
    visibility: visible;
    transition-delay: .5s;
}

.navbar-wraper svg {
    cursor: pointer;
    height: 30px;
    width: 30px;
}

.navbar-wrap .active svg {
    stroke: rgb(76, 117, 242);
}

.navbar-wrap .active .chart {
    fill: rgb(76, 117, 242);
}

/* .active svg:hover {
    stroke: rgb(76, 117, 242);
    transition: .5s;
} */

.navbar-wrap svg:hover {
    stroke: rgb(76, 117, 242);
    /* fill: rgb(76, 117, 242); */
    transition: .5s;
}

.navbar-wrap .chart:hover {
    fill: rgb(76, 117, 242);
    transition: .5s;
}