.navbar {
    /* background-color: ; */
    border: 2px solid black;
    width: 90px;
    height: 100%;
    position: fixed;
}

.navbar-wraper {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.navbar-wrap {
    margin: 15px;
}
svg{
    cursor: pointer;
}
.active svg {
    stroke: rgb(195, 216, 13);
}

.active svg:hover {
    stroke: blue;
    transition: .5s;
}
 svg:hover {
    stroke: blue;
    transition: .5s;
}