.input {
    height: 100%;
    width: 100%;
    border: none;
    margin-left: 10px;
    outline: none;
    background-color: inherit;
    color: inherit;
    font-size: 1.2em;
}

.input::placeholder {
    /* border-right: 0.2rem solid #777; */
    opacity: .8;
    /* font-size: 1.2em; */
    letter-spacing: .06em;
}

.input:focus::placeholder {
    opacity: 0;
}

.company-search {
    width: 600px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    left: 0;
    right: 0;
    padding-top: 20px;
}

.company-search-input, .company-search-input-dark {
    display: flex;
    /* width: 600px; */
    height: 64px;
    font-family: "archia";
    border: 0;
    border-radius: 5px;
    font-size: 1rem;
    /* outline: none; */
    padding: 1rem 1rem 1rem 1rem;
}
.company-search-input svg{
    margin-top: 4px;
}
.company-search-input {
    box-shadow: 0 10px 35px rgba(0, 0, 0, .1);
    color: #6c757d;
}

.company-search-input-dark {
    background: #1e1e30;
    color: #d1d4dc;
}

.company-search-bar-nav {
    display: flex;
    width: 100%;
    height: 100%;
}

.company-search-results {
    width: 600px;
    height: 64px;
    /* margin-bottom: 20px; */
    padding: 1rem 1rem 0;
    z-index: 10;
    color: black;
}

.result-items {
    background-color: #ffffffd6;
    text-decoration: none;
    color: inherit;
}

.result-items-dark {
    color: #d1d4dc;
    background-color: #151d30d6;
    /* background-color: #151d30; */
    /* background-color: #0f172a; */
    /* background-color: #1e1e30!important; */
    text-decoration: none;
}

.result-item, .result-item-dark {
    padding: 6px;
    /* padding: 1rem; */
    font-size: 16px;
    /* font-size: 1.1em; */
    cursor: pointer;
    border-radius: 5px;
}

.result-item {
    background-color: inherit;
    color: inherit;
    border-bottom: 2px solid rgba(108, 117, 125, .06274509803921569);
    display: flex;
}
.result-item p{
    margin-left: 20px;
}

.result-item-dark {
    background-color: inherit;
    color: inherit;
    border-bottom: 2px solid rgb(231 239 245 / 6%);
}

.result-item:hover {
    /* background-color: #f7f8fad6; */
    background-color: #f5f5f5d6;
    /* background-color:#f6f6f7; */
    transition: .5s;
}

.result-item-dark:hover {
    background-color: #1c2742d6;
    /* background-color:#f6f6f7; */
    transition: .5s;
}
.MuiSvgIcon-root{
    cursor: pointer;
}
