* {
  box-sizing: border-box;
  margin: 0;
}

.App {
  /* text-align: center; */
  height: 100%;
  width: 100%;
  background-color: white;
  /* position: relative; */
}

.App-wrap {
  padding-left: 90px;
}

.dark {
  background-color: #0b101c;
}

.search {
  margin: 20px 0;
  display: flex;
}

@media (max-width: 767px) {
  .App-wrap {
    padding-left: 0px;
  }
}