*{
  box-sizing: border-box;
    margin: 0;
}
.App {
  /* text-align: center; */
  height: 100%;
  width: 100%;
  background-color: white;
  /* position: relative; */
}
.dark{
  background-color: #0b101c;
}
.search {
  margin: 20px 0;
  display: flex;
}
/* .nav{
  position: absolute;
  left: 2%;
  top: 50%;
} */
